<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Welcome to Guess That!</h1>
   <div class="logo-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
      <img src="../static/images/guessthatlogohome.png" alt="Guess That logo" class="logo-homepage">
    </svg>
    </div>
    <div class="home-form-container">
        <h1>Are you ready for a Quiz?</h1>
    <form method="POST" action="{{ url_for('home') }}" >
        <input type="text" name="name" placeholder="Please enter your name" required class="home-name-input"/>
        <input type="submit" class="name-button"/>
    </form>
    </div>
</body>
</html>