<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            height: 100vh;
            text-align: center;
        }

        h1 {
            font-size: 36px; /* Adjust the font size as desired */
            margin-top: 15px;
        }

        th {
            font-size: 24px; /* Adjust the font size as desired */
        }
    </style>
</head>

<body>
<img src="../static/images/guessthatlogohome.png" alt="Guess That logo" class="logo">
    <div class="content">
        <div class="wrapper-1">
            <h1>Leaderboard</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" class="subheading">Name</th>
                        <th colspan="2" class="subheading">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in leaderboard %}
                    <tr>
                        <td colspan="2" class="name">{{ item['name'] }}</td>
                        <td colspan="2" class="number">{{ item['score'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('return_home') }}" method="post">
                <input class="rounded-pink-button" type="submit" value="Play Again">
            </form>
        </div>
    </div>
</body>
</html>

