<!doctype html>
<html>
<head>
    <title>Guess that</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<img src="../static/images/guessthatlogohome.png" alt="Guess That logo" class="logo">

<a href="/bug_report" class="bug-report-button">
  <img src="/static/images/bug.png" alt="Bug Icon">
</a>
    <h1>Guess That!</h1>
    <p> Answer : {{result}}</p>
    <p>{{ question['text'] }}</p>
    <div>
    <form action="/submit" method="post">
            <input type="hidden" name="correct_answer" value="{{ question['answer'] }}">

            <div class="input-container">
                <input type="submit" name="answer" value="{{question['answers'][0]}}">
                <div class="radio-tile">
                    <label>{{question['answers'][0]}}</label>
                </div>
            </div>

            <div class="input-container">
                <input type="submit" name="answer" value="{{question['answers'][1]}}">
                <div class="radio-tile">
                    <label>{{question['answers'][1]}}</label>
                </div>
            </div>

            <div class="input-container">
                <input type="submit" name="answer" value="{{question['answers'][2]}}">
                <div class="radio-tile">
                    <label>{{question['answers'][2]}}</label>
                </div>
            </div>

            <div class="input-container">
                <input type="submit" name="answer" value="{{question['answers'][3]}}">
                <div class="radio-tile">
                    <label>{{question['answers'][3]}}</label>
                </div>
            </div>
        </form>
    </div>
    <p>Score: {{score}}</p>
    <p>Lives: {{lives}}</p>
</body>
</html>
