<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Score</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<img src="../static/images/guessthatlogohome.png" alt="Guess That logo" class="logo">
<h1>Well Done {{name.name}}!</h1>
<h2>You completed the Quiz!</h2>
    <div class="score-container">
        <h2>You Scored:</h2>
        <p class="score">{{score}}</p>
    <p class="score-message"> Click to see where you are on the leaderboard!</p>
    <form action="{{ url_for('return_home') }}" method="post" >
        <input type="submit" value="Return Home" class="return-home-button">
    </form>
    <form action="{{ url_for('leaderboard') }}" method="post">
        <input type="submit" value="Leaderboard" class="leaderboard-button">
    </form>
    </div>
</body>
</html>
